{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <div>
        Hello {{ data }}!
        <a href="{{ path('edit_achievement', {'achievement': data}) }}">edit this achievement</a>
        <a href="{{ path('get_achievement', {'achievement': data, '_format': 'json'}) }}">show this achievement in json</a>
        <a href="{{ path('get_achievement', {'achievement': data, '_format': 'xml'}) }}">show this achievement in xml</a>
    </div>

    <div><a href="{{ path('get_achievements') }}">list achievements in html</a></div>
    <div><a href="{{ path('get_achievements', {'_format': 'json'}) }}">list achievements in json</a></div>
    <div><a href="{{ path('get_achievements', {'_format': 'xml'}) }}">list achievements in xml</a></div>

    <div><a href="{{ path('new_achievement', {'_format': 'html'}) }}">form to create a new achievement in html</a></div>

    Rendered with twig.

{% endblock content %}