{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    {% for achievement in data.achievements %}

        <div>
            <a href="{{ path('get_achievement',  {'achievement': achievement})}}">{{ achievement }} in html</a>,
            <a href="{{ path('get_achievement', {'achievement': achievement, '_format': 'json'}) }}">{{ achievement }} in json</a> and
            <a href="{{ path('get_achievement', {'achievement': achievement, '_format': 'xml'}) }}">{{ achievement }} in xml</a>
            <a href="{{ path('get_achievement', {'achievement': achievement}) }}">{{ achievement }} in the default format</a>,
        </div>

    {% endfor %}

    <div><a href="{{ path('get_achievements', {'_format': 'json'}) }}">list achievements in json</a></div>
    <div><a href="{{ path('get_achievements', {'_format': 'xml'}) }}">list achievements in xml</a></div>
    <div><a href="{{ path('get_achievements') }}">list achievements in the default format</a></div>

    <div><a href="{{ path('new_achievements', {'_format': 'html'}) }}">form to create a new achievements in html</a></div>

    Rendered with twig. Page: {{ data.page }}

{% endblock content %}