{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    {% for category in data.categories %}

        <div>
            <a href="{{ path('get_category',  {'category': category})}}">{{ category }} in html</a>,
            <a href="{{ path('get_category', {'category': category, '_format': 'json'}) }}">{{ category }} in json</a> and
            <a href="{{ path('get_category', {'category': category, '_format': 'xml'}) }}">{{ category }} in xml</a>
            <a href="{{ path('get_category', {'category': category}) }}">{{ category }} in the default format</a>,
        </div>

    {% endfor %}

    <div><a href="{{ path('get_categories', {'_format': 'json'}) }}">list categories in json</a></div>
    <div><a href="{{ path('get_categories', {'_format': 'xml'}) }}">list categories in xml</a></div>
    <div><a href="{{ path('get_categories') }}">list categories in the default format</a></div>

    <div><a href="{{ path('new_categories', {'_format': 'html'}) }}">form to create a new categories in html</a></div>

    Rendered with twig. Page: {{ data.page }}

{% endblock content %}