{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <div>
        Hello {{ data }}!
        <a href="{{ path('edit_category', {'category': data}) }}">edit this category</a>
        <a href="{{ path('get_category', {'category': data, '_format': 'json'}) }}">show this category in json</a>
        <a href="{{ path('get_category', {'category': data, '_format': 'xml'}) }}">show this category in xml</a>
    </div>

    <div><a href="{{ path('get_categories') }}">list categories in html</a></div>
    <div><a href="{{ path('get_categories', {'_format': 'json'}) }}">list categories in json</a></div>
    <div><a href="{{ path('get_categories', {'_format': 'xml'}) }}">list categories in xml</a></div>

    <div><a href="{{ path('new_category', {'_format': 'html'}) }}">form to create a new category in html</a></div>

    Rendered with twig.

{% endblock content %}