{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    {% for image in data.images %}

        <div>
            <a href="{{ path('get_image',  {'image': image})}}">{{ image }} in html</a>,
            <a href="{{ path('get_image', {'image': image, '_format': 'json'}) }}">{{ image }} in json</a> and
            <a href="{{ path('get_image', {'image': image, '_format': 'xml'}) }}">{{ image }} in xml</a>
            <a href="{{ path('get_image', {'image': image}) }}">{{ image }} in the default format</a>,
        </div>

    {% endfor %}

    <div><a href="{{ path('get_images', {'_format': 'json'}) }}">list images in json</a></div>
    <div><a href="{{ path('get_images', {'_format': 'xml'}) }}">list images in xml</a></div>
    <div><a href="{{ path('get_images') }}">list images in the default format</a></div>

    <div><a href="{{ path('get_images', {'_format': 'html'}) }}">form to create a new images in html</a></div>

    Rendered with twig. Page: {{ data.page }}

{% endblock content %}