{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    {% for organization in data.organizations %}

        <div>
            <a href="{{ path('get_organization',  {'organization': organization})}}">{{ organization }} in html</a>,
            <a href="{{ path('get_organization', {'organization': organization, '_format': 'json'}) }}">{{ organization }} in json</a> and
            <a href="{{ path('get_organization', {'organization': organization, '_format': 'xml'}) }}">{{ organization }} in xml</a>
            <a href="{{ path('get_organization', {'organization': organization}) }}">{{ organization }} in the default format</a>,
        </div>

    {% endfor %}

    <div><a href="{{ path('get_organizations', {'_format': 'json'}) }}">list organizations in json</a></div>
    <div><a href="{{ path('get_organizations', {'_format': 'xml'}) }}">list organizations in xml</a></div>
    <div><a href="{{ path('get_organizations') }}">list organizations in the default format</a></div>

    <div><a href="{{ path('get_organizations', {'_format': 'html'}) }}">form to create a new organizations in html</a></div>

    Rendered with twig. Page: {{ data.page }}

{% endblock content %}