{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <div>
        Hello {{ data }}!
        <a href="{{ path('edit_priority', {'priority': data}) }}">edit this priority</a>
        <a href="{{ path('get_priority', {'priority': data, '_format': 'json'}) }}">show this priority in json</a>
        <a href="{{ path('get_priority', {'priority': data, '_format': 'xml'}) }}">show this priority in xml</a>
    </div>

    <div><a href="{{ path('get_priorities') }}">list prizes in html</a></div>
    <div><a href="{{ path('get_priorities', {'_format': 'json'}) }}">list priorities in json</a></div>
    <div><a href="{{ path('get_priorities', {'_format': 'xml'}) }}">list priorities in xml</a></div>

    <div><a href="{{ path('new_priority', {'_format': 'html'}) }}">form to create a new priority in html</a></div>

    Rendered with twig.

{% endblock content %}