{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <div>
        Hello {{ data }}!
        <a href="{{ path('edit_theme', {'theme': data}) }}">edit this theme</a>
        <a href="{{ path('get_theme', {'theme': data, '_format': 'json'}) }}">show this theme in json</a>
        <a href="{{ path('get_theme', {'theme': data, '_format': 'xml'}) }}">show this theme in xml</a>
    </div>

    <div><a href="{{ path('get_themes') }}">list themes in html</a></div>
    <div><a href="{{ path('get_themes', {'_format': 'json'}) }}">list themes in json</a></div>
    <div><a href="{{ path('get_themes', {'_format': 'xml'}) }}">list themes in xml</a></div>

    <div><a href="{{ path('new_theme', {'_format': 'html'}) }}">form to create a new theme in html</a></div>

    Rendered with twig.

{% endblock content %}