{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    {% for trophy in data.trophies %}

        <div>
            <a href="{{ path('get_trophy',  {'trophy': trophy})}}">{{ trophy }} in html</a>,
            <a href="{{ path('get_trophy', {'trophy': trophy, '_format': 'json'}) }}">{{ trophy }} in json</a> and
            <a href="{{ path('get_trophy', {'trophy': trophy, '_format': 'xml'}) }}">{{ trophy }} in xml</a>
            <a href="{{ path('get_trophy', {'trophy': trophy}) }}">{{ trophy }} in the default format</a>,
        </div>

    {% endfor %}

    <div><a href="{{ path('get_trophies', {'_format': 'json'}) }}">list trophies in json</a></div>
    <div><a href="{{ path('get_trophies', {'_format': 'xml'}) }}">list trophies in xml</a></div>
    <div><a href="{{ path('get_trophies') }}">list trophies in the default format</a></div>

    <div><a href="{{ path('new_trophy', {'_format': 'html'}) }}">form to create a new trophy in html</a></div>

    Rendered with twig. Page: {{ data.page }}

{% endblock content %}