{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <div>
        Hello {{ data }}!
        <a href="{{ path('edit_trophy', {'trophy': data}) }}">edit this trophy</a>
        <a href="{{ path('get_trophy', {'trophy': data, '_format': 'json'}) }}">show this trophy in json</a>
        <a href="{{ path('get_trophy', {'trophy': data, '_format': 'xml'}) }}">show this trophy in xml</a>
    </div>

    <div><a href="{{ path('get_trophies') }}">list trophies in html</a></div>
    <div><a href="{{ path('get_trophies', {'_format': 'json'}) }}">list trophies in json</a></div>
    <div><a href="{{ path('get_trophies', {'_format': 'xml'}) }}">list trophies in xml</a></div>

    <div><a href="{{ path('new_trophy', {'_format': 'html'}) }}">form to create a new trophy in html</a></div>

    Rendered with twig.

{% endblock content %}