{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    <div>
        Hello {{ data }}!
        <a href="{{ path('edit_task', {'task': data}) }}">edit this task</a>
        <a href="{{ path('get_task', {'task': data, '_format': 'json'}) }}">show this task in json</a>
        <a href="{{ path('get_task', {'task': data, '_format': 'xml'}) }}">show this task in xml</a>
    </div>

    <div><a href="{{ path('get_tasks') }}">list tasks in html</a></div>
    <div><a href="{{ path('get_tasks', {'_format': 'json'}) }}">list tasks in json</a></div>
    <div><a href="{{ path('get_tasks', {'_format': 'xml'}) }}">list tasks in xml</a></div>

    <div><a href="{{ path('new_task', {'_format': 'html'}) }}">form to create a new task in html</a></div>

    Rendered with twig.

{% endblock content %}