{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    {% for theme in data.themes %}

        <div>
            <a href="{{ path('get_theme',  {'theme': theme})}}">{{ theme }} in html</a>,
            <a href="{{ path('get_theme', {'theme': theme, '_format': 'json'}) }}">{{ theme }} in json</a> and
            <a href="{{ path('get_theme', {'theme': theme, '_format': 'xml'}) }}">{{ theme }} in xml</a>
            <a href="{{ path('get_theme', {'theme': theme}) }}">{{ theme }} in the default format</a>,
        </div>

    {% endfor %}

    <div><a href="{{ path('get_themes', {'_format': 'json'}) }}">list themes in json</a></div>
    <div><a href="{{ path('get_themes', {'_format': 'xml'}) }}">list themes in xml</a></div>
    <div><a href="{{ path('get_themes') }}">list themes in the default format</a></div>

    <div><a href="{{ path('get_themes', {'_format': 'html'}) }}">form to create a new themes in html</a></div>

    Rendered with twig. Page: {{ data.page }}

{% endblock content %}