{% extends "AppBundle::layout.html.twig" %}

{% block content %}

    {% for user in data.users %}

        <div>
            <a href="{{ path('get_user',  {'user': user})}}">{{ user }} in html</a>,
            <a href="{{ path('get_user', {'user': user, '_format': 'json'}) }}">{{ user }} in json</a> and
            <a href="{{ path('get_user', {'user': user, '_format': 'xml'}) }}">{{ user }} in xml</a>
            <a href="{{ path('get_user', {'user': user}) }}">{{ user }} in the default format</a>,
        </div>

    {% endfor %}

    <div><a href="{{ path('get_users', {'_format': 'json'}) }}">list users in json</a></div>
    <div><a href="{{ path('get_users', {'_format': 'xml'}) }}">list users in xml</a></div>
    <div><a href="{{ path('get_users') }}">list users in the default format</a></div>

    <div><a href="{{ path('get_users', {'_format': 'html'}) }}">form to create a new users in html</a></div>

    Rendered with twig. Page: {{ data.page }}

{% endblock content %}